* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.theme1 {
        background-color: hsl(222, 26%, 31%);
    }
    &.theme2 {
        background-color: hsl(0, 0%, 90%);
    }
    &.theme3 {
        background-color: hsl(268, 75%, 9%);
    }
}
main {
    padding: 20px;
    width: 100%;
}
.toggle-bg {
    // background-color: red;
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    .toggle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: blue;
    }
}

.pseudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &.theme1 {
        color: #fff;
    }
    &.theme2 {
        color: hsl(60, 10%, 19%);
    }
    &.theme3 {
        color: hsl(52, 100%, 62%);
    }
}

form {
    display: flex;
    * {
        font-size: .4rem;
        text-align: center;
    }
    input {
        background: green;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }
}
fieldset {
    display: block;
    width: 100%;
    align-self: flex-end;
    text-align: end;
    margin-right: 20px;
    text-transform: uppercase;
    border: none;
    padding-bottom: 5px;
}

.screen {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    &.theme1 {
        background-color: hsl(224, 36%, 15%);
        color: #fff;
    }
    &.theme2 {
        background-color: hsl(0, 0%, 93%);
        color: hsl(60, 10%, 19%);
    }
    &.theme3 {
        background-color: hsl(268, 71%, 12%);
        color: hsl(52, 100%, 62%);    }
}

.keys {
    display: grid;
    grid-template-areas:
        "seven height nine del"
        "four five six plus"
        "one two three minus"
        "dot zero divide mutlipli"
        "reset reset equal equal";
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    &.theme1{
        background-color: hsl(223, 31%, 20%);
    }
    &.theme2{
        background-color: hsl(0, 5%, 81%);
    }
    &.theme3{
        background-color: hsl(268, 71%, 12%);
    }
}

button {
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: auto;
    border: none;
    cursor: pointer;
    &.theme1 {
        background-color: hsl(30, 25%, 89%);
        color: hsl(221, 14%, 31%);
        box-shadow: 0 5px hsl(28, 16%, 65%);
    }
    &.theme2 {
        background-color: hsl(30, 25%, 89%);
        color: hsl(60, 10%, 19%);
        box-shadow: 0 5px hsl(35, 11%, 61%);
    }
    &.theme3 {
        background-color: hsl(268, 47%, 21%);
        color: hsl(52, 100%, 62%);
        box-shadow: 0 5px hsl(290, 70%, 36%);
    }
}


button[value="0"] {
    grid-area: zero;
}
button[value="1"] {
    grid-area: one;
}
button[value="2"] {
    grid-area: two;
}
button[value="3"] {
    grid-area: three;
}
button[value="4"] {
    grid-area: four;
}
button[value="5"] {
    grid-area: five;
}
button[value="6"] {
    grid-area: six;
}
button[value="7"] {
    grid-area: seven;
}
button[value="8"] {
    grid-area: height;
}
button[value="9"] {
    grid-area: nine;
}
button[value="+"] {
    grid-area: plus;
}
button[value="-"] {
    grid-area: minus;
}
button[value="X"] {
    grid-area: multipli;
}
button[value="/"] {
    grid-area: divide;
}
button[value="="] {
    grid-area: equal;
}
button[value="reset"] {
    grid-area: reset;
}
button[value="del"] {
    grid-area: del;
}
button[value="."] {
    grid-area: dot;
}






button[value="reset"],
button[value="del"] { // del + reset
    font-size: .5rem;
    &.theme1 {
        background-color: hsl(225, 21%, 49%);
        box-shadow: 0 5px hsl(224, 28%, 35%);
        color: hsl(30, 25%, 89%);
    }
    &.theme2 {
        background-color: hsl(185, 42%, 37%);
        box-shadow: 0 5px hsl(185, 58%, 25%);
        color: white;
    }
    &.theme3 {
        background-color: hsl(281, 89%, 26%);
        box-shadow: 0 5px hsl(285, 91%, 52%);
        color: white;
    }
}

button[value="="] {
    font-size: .75rem;
    &.theme1 { // equal
        background-color: hsl(6, 63%, 50%);
        box-shadow: 0 5px hsl(6, 70%, 34%);
        color: hsl(30, 25%, 89%);
    }
    &.theme2 { // equal
        background-color: hsl(25, 98%, 40%);
        box-shadow: 0 5px hsl(25, 99%, 27%);
        color: white;
    }
    &.theme3 { // equal
        background-color: hsl(176, 100%, 44%);
        box-shadow: 0 5px hsl(177, 92%, 70%);
        color: hsl(198, 20%, 13%);
    }
}
.button:active {
    transform: translateY(5px);
    &.theme1, 
    &.theme2, 
    &.theme3 {
        box-shadow: none;
    }
}


